/* Fonts ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Light.ttf');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Medium.ttf');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto';
   src: url('./fonts/Roboto-Bold.ttf');
   font-weight: 700;
   font-style: normal;
}

/* Global variables ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

:root {
	--black: #000000;
	--greyDark2: #212121;
	--greyDark: #2c2c2c;
	--grey: #373737;
	--placeholder: #737373;
	--white: #ffffff;
	--orange: #ff9900;
	--red: #c8362d;
	--redDark: #a62c26;
	--green: #48b443;
	--greenDark: #3c9537;
	--blue: #2271ac;
	--blueDark: #1b5a8a;
	--shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Global element styles ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	margin: 0;
	font-size: 0;
	background-color: var(--greyDark2);
	height: 100%;
}